/* Override conflicting styles from base.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}

/* Center the delete container */
.delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Style the delete text */
.delete-text {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.delete-text strong {
    font-weight: bold;
}

/* Style the button container */
.button-container {
    margin-top: 20px;
}

/* Style the delete button */
.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.cancel-button {
    margin-left: 10px;
}
