{% extends 'base.html' %}
{% load static %}

{% block maincontent %}
    <body>
        <link rel="stylesheet" href="{% static 'css/market_page.css' %}">
        <main>
            <div class="stock-container">
                <div class="stock">
                    <div class="stock-info">
                        <h2 class="stock-name">Tesla</h2>
                        <p class="stock-price">Price: $100</p>
                        <p class="stock-volume">Volume: 1000</p>
                        <p class="stock-move">Move: +5%</p>
                    </div>
                    <button class="buy-button">Buy</button>
                </div>
            </div>

            <div class="stock-container">
                <div class="stock">
                    <div class="stock-info">
                        <h2 class="stock-name">Apple</h2>
                        <p class="stock-price">Price: $100</p>
                        <p class="stock-volume">Volume: 1000</p>
                        <p class="stock-move">Move: +5%</p>
                    </div>
                    <button class="buy-button">Buy</button>
                </div>
            </div>

            <div class="stock-container">
                <div class="stock">
                    <div class="stock-info">
                        <h2 class="stock-name">Microsoft</h2>
                        <p class="stock-price">Price: $100</p>
                        <p class="stock-volume">Volume: 1000</p>
                        <p class="stock-move">Move: +5%</p>
                    </div>
                    <button class="buy-button">Buy</button>
                </div>
            </div>

            <div class="stock-container">
                <div class="stock">
                    <div class="stock-info">
                        <h2 class="stock-name">Nvidia</h2>
                        <p class="stock-price">Price: $100</p>
                        <p class="stock-volume">Volume: 1000</p>
                        <p class="stock-move">Move: +5%</p>
                    </div>
                    <button class="buy-button">Buy</button>
                </div>
            </div>


            <div class="stock-container">
                <div class="stock">
                    <div class="stock-info">
                        <h2 class="stock-name">Meta</h2>
                        <p class="stock-price">Price: $100</p>
                        <p class="stock-volume">Volume: 1000</p>
                        <p class="stock-move">Move: +5%</p>
                    </div>
                    <button class="buy-button">Buy</button>
                </div>
            </div>

            <div class="stock-container">
                <div class="stock">
                    <div class="stock-info">
                        <h2 class="stock-name">Amazon</h2>
                        <p class="stock-price">Price: $100</p>
                        <p class="stock-volume">Volume: 1000</p>
                        <p class="stock-move">Move: +5%</p>
                    </div>
                    <button class="buy-button">Buy</button>
                </div>
            </div>


        </main>
    </body>
{% endblock maincontent %}
