{% extends 'base.html' %}
{% load static %}
{% block maincontent %}

   <body>
   <link rel="stylesheet" href="{% static 'css/register_page.css' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="register-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                    <p class="text-center mt-3">Already have an account? <a href="{% url 'login_user' %}" class="already-have-account">Login</a></p>
                </form>
            </div>
            <div class="col-md-6">
                <div class="register-image">
                    <img src="https://via.placeholder.com/400" alt="Register Image" class="img-fluid app-image">
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock maincontent %}